{% extends 'base.html' %}
{% block content %}

<h1>Groups </h1>
{{ soni }}
<h1>Group: {{birlik}}=={{qiymat}} so'm</h1>
{% for c in groups %}
<a href="{% url 'groups:groups' c.pk %}"> <h1>Nomi:{{ c.name }}</h1></a>


<p>Oquvchilar soni:  {{ c.sum(students }}</p>

<p>Ustoz: {{ c.teacher }}</p>

<p>Birinchi dars:{{ c.start_date }}</p>
<p>Ohirgi dars:{{ c.end_date }}</p>
<a href="{% url 'group:update' c.pk %}">change</a>
<a href="{% url 'group:delete' c.pk %}">delete</a>

<hr>
{% endfor %}

{% endblock %}